<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #expenseForm="ngForm">
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="text" [(ngModel)]="expense.amount"
            class="form-control"
            id="amount"
            name="amount"
            placeholder="Enter your amount"
            required #amount="ngModel">
        </div>
        <div [hidden]="!amount.pristine" class="alert alert-danger">Amount is required</div>
        <div class="form-group">
          <label for="category">Category</label>
          <input type="text" [(ngModel)]="expense.category"
            class="form-control"
            id="category"
            name="category"
            placeholder="Enter your category"
            required #category="ngModel">
          <div [hidden]="!category.pristine" class="alert alert-danger">Category is required</div>
        </div>
        <button type="submit" [disabled]="!expenseForm.form.valid"
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
